/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
.panel, .panel-heading {
  border-radius: 0;
}

/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
.stayleft {
  left: 5px;
}
.stayright {
  right: 5px;
}
@media (min-width:768px) {
  .sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #fff;
    border: 1px solid #ddd;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.preview-nav-sidebar {
  margin-right: -25px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */
.main {
  padding: 3px 30px;
}
.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.extend-bounday {
  margin: -21px;
}
.extend-panel-body {
  margin: -16px;
}
.checkbox {
  margin: 0;
}
.patch-delete {
  position: absolute;
  right: 0;
  top: 5px;
}
.single-delete {
  position: absolute;
  right: 10px;
  top: 8px;
  padding: 5px;
}
.single-saved {
  position: absolute;
  right: 35px;
  top: 8px;
  padding: 5px;
}
.panel-toolbar {
  position: relative;
}
.top-panel {
  margin: 0 5px;
}
.table-th-bg {
  background-color: #d2e1fd;
}
.table-deep-bg {
  color: #fff;
  background-color: #7097f5;
}
.reset-margin {
  margin: 0;
}
.reset-panel-border {
  border-bottom: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.preview-table th span {
  width: 7px;
  height: 12px;
  background: url(../img/icon-sort.png) -16px 0 no-repeat;
  display: inline-block;
  zoom: 1;
  cursor: pointer;
  margin-left: 3px;
}
.preview-table th span.up {
  background-position: 0 0;
}
.preview-table th span.down {
  background-position: -8px 0;
}
.cs-dropdown {
  width: 100%;
}
.cs-dropdown .caret {
  margin-right: 0;
  position: absolute;
  right: 10px;
  top: 16px;
}
.cs-dropdown-menu {
  width: 100%;
}
.cs-dropdown-menu li {
  display: block;
  padding: 5px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.cs-dropdown-menu li:hover {
  background: #ccc;
  cursor: pointer;
}
.processbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.5s;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -o-transition: top 0.5s;

}
.processbar .pmessage {
  position: absolute;
  top: 0;
  left: 50%;
  height: 20px;
  width: 100px;
  margin-left: -50px;
  background: #3071a9;
  color: #fff;
  z-index: 10002;
  text-align: center;
  border-radius:0 0 4px 4px;
}
.processbar .pmodal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: #000;
  z-index: 1001;
}
.processbar.over {
  z-index: -1;
  top: -20px;
}
.panel-primary .panel-body{
  background-color: #d9edf7;
}