<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>custom-search-editor</title>
        <link rel="stylesheet" href="css/lib/bootstrap.css">
        <link rel="stylesheet" href="css/plugin/tree/tree.css">
        <link rel="stylesheet" href="css/dashboard.css">
    </head>
    <body>
        <div class="JoprContainer">
            <div class="JeditContainer"></div>
            <div class="JpreviewContainer"></div>
        </div>
        <!-- <div style="height:150px;"></div> -->
        <script type="text/template" id="template-preview-main">
            <div class="panel panel-default top-panel">
                <div class="panel-heading clearfix">
                    <div class="btn-group pull-right JPtoolbar">
                        <button type="button" class="btn btn-warning favorite">加入收藏</button>
                        <button type="button" class="btn btn-warning make">制作报告</button>
                        <button type="button" class="btn btn-warning download">下载</button>
                        <a href="#edit" class="btn btn-warning active">返回编辑</a>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 col-md-2 sidebar stayleft">
                        <div class="panel panel-default extend-bounday">
                            <div class="panel-heading">指标列表</div>
                            <div class="panel-body JfilterGroupPreview"></div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                        <div class="preview-nav-sidebar">
                            <div class="panel panel-default reset-margin">
                                <div class="panel-heading panel-toolbar JtableFunc">
                                    指标表
                                    <span class="glyphicon glyphicon-refresh single-delete Jtrans"></span>
                                </div>
                            </div>
                            <div class="JpreivewTable"></div>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="template-edit-main">
            <div class="panel panel-default top-panel">
                <div class="panel-heading clearfix">
                    <div class="btn-group pull-right">
                        <a href="javascript:;" class="btn btn-warning JaddReport">加入报表</a>
                        <a href="#preview" class="btn btn-warning active">预览结果</a>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 col-md-2 sidebar stayleft">
                        <div class="panel panel-default extend-bounday reset-panel-border">
                            <div class="panel-heading">指标树</div> 
                            <div class="panel-body JsearchContainer">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="请输入关键字">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">查询</button>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <ul id="searchTree" class="ztree ztree-margin"></ul>
                                <ul id="dimensionTree" class="ztree ztree-margin"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2 sidebar stayright">
                        <div class="panel panel-default extend-bounday reset-panel-border JfilterGroup">
                            <div class="panel-heading">
                                指标列表
                                <span class="btn btn-link btn-sm patch-delete">批量删除</span>
                            </div>
                            <div class="panel-body"></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 main Jmain">
                        <div class="nav-sidebar">
                            <div class="panel panel-default reset-margin">
                                <div class="panel-heading">指标详细</div>
                                <div class="panel-body JexplainContainer"></div>
                                <div class="panel-footer">
                                    <div class="form-horizontal">
                                        <div class="form-group reset-margin JfiltersContainer"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="JtableContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="template-select">
            <label class="col-sm-4 control-label"><%- name%></label>
            <div class="col-sm-8">
                <select class="form-control" data-level="<%- level%>">
                    <option>请选择</option>
                </select>
            </div>
        </script>
        <script type="text/template" id="template-filtergroup">
            <div class="panel-heading">
                <label><%-filters[0].toJSON().level%></label>
            </div>
            <div class="panel-body">
                <% _.each(filters,function (item,i) { %>
                    <% if (i){%>
                        <p class="">
                        <%-configName[i-1]["name"]%>:<%-item.toJSON().name%>
                        </p>
                    <% } %>
                <% }) %>
            </div>
        </script>
        <script type="text/javascript" data-main='./js/app' src="./js/lib/require.js"></script>
    </body>
</html>
